main{
  min-height: 89vh;
}
Nav{
  min-height: 4vh;
}
footer{
  min-height:2vh;
  background-color:#002b36;
}
header{
background-color:#002b36;
}

.base-container{
min-height:95vh;
}

/* Default font size */
.brand-text {
  font-size:15px;
}

/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {
  .brand-text {
    font-size: 15px;
  }
}

/* Large screens (desktops, 992px and up) */
@media (min-width: 992px) {
  .brand-text {
    font-size: 20px;
  }
}

/* Extra large screens (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .brand-text {
    font-size: 25px;
  }
}


.brand-image {
  height:30px;
  width: 30px;
}

  /* Medium screens (tablets, 768px and up) */
  @media (min-width: 768px) {
    .brand-image{
      height: 25px;
      width: 25px;
    }
  }
  
  /* Large screens (desktops, 992px and up) */
  @media (min-width: 992px) {
    .brand-image {
      height:35px;
      width:35px;
    }
  }
  
  /* Extra large screens (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .brand-image {
      height: 40px;
      width: 40px;
    }
  }


.navbar-link-font{
font-size: 20px;
}


/* Medium screens (tablets, 768px and up) */
@media (min-width: 768px) {
.navbar-link-font {
  font-size: 16px;
}
}

/* Large screens (desktops, 992px and up) */
@media (min-width: 992px) {
.navbar-link-font {
  font-size: 18px;
}
}

/* Extra large screens (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.navbar-link-font {
  font-size: 20px;
}
}


/* ===========================user-search-box======================================*/
.user-search-box{
height: 7vh;
}
/* ===========================send-message-box======================================*/
.send-message-box{
height: 12vh;
}
/* ===========================send-message-box======================================*/
.user-chat-message-box{
height: 7vh;
}
/* ===========================send-message-box======================================*/
.user-bio-box{
height: 2vh;
}
/* ================================chat-message-boxc=================================*/
.chat-message-box {
min-height:65vh;
}
.chat-message-box-scrollbar {
height:65vh; /* Set desired height */
overflow-y: auto;
scrollbar-width: thin; /* For Firefox */
scrollbar-color: #004052 transparent; /* For Firefox */
}

.chat-message-box-scrollbar::-webkit-scrollbar {
width: 5px; /* Width of vertical scrollbar */
}

.chat-message-box-scrollbar::-webkit-scrollbar-track {
background: transparent; /* Track color */
}

.chat-message-box-scrollbar::-webkit-scrollbar-thumb {
background-color: #202b36; /* Thumb color */
border-radius: 5px; /* Roundness of thumb */
}
/* ================================end  chat-message-boxc=================================*/

/* ================================scrollbar contact=================================*/
.contact-scrollbar {
height:80vh; /* Set desired height */
overflow-y: auto;
scrollbar-width: thin; /* For Firefox */
scrollbar-color: #004052 transparent; /* For Firefox */
}

.contact-scrollbar::-webkit-scrollbar {
width: 5px; /* Width of vertical scrollbar */
}

.contact-scrollbar::-webkit-scrollbar-track {
background: transparent; /* Track color */
}

.contact-scrollbar::-webkit-scrollbar-thumb {
background-color: #202b36; /* Thumb color */
border-radius: 5px; /* Roundness of thumb */
}
/* ================================end scrollbar contact=================================*/
/* ================================end  contact=================================*/
.contact-hover:hover{
background-color: #2b5278 !important; /* Custom hover color */
}
.contact-item {
height: 7vh;
font-size: 18px;
}
/* ================================end  contact=================================*/
/* ================================filename and comment tooltip=================================*/
.custom-cell {
  white-space: nowrap; /* No quotes needed */
  overflow: hidden;    /* No quotes needed */
  text-overflow: ellipsis; /* No quotes needed */
  text-align: center;
}
.hover-card {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  /* Add additional styling if needed */
}
/* ================================end filename and comment tooltip========================*/
/* ================================scrollbar group=================================*/
.group-scrollbar {
  height:60vh; /* Set desired height */
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #004052 transparent; /* For Firefox */
  }
  
  .group-scrollbar::-webkit-scrollbar {
  width: 5px; /* Width of vertical scrollbar */
  }
  
  .group-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  }
  
  .group-scrollbar::-webkit-scrollbar-thumb {
  background-color: #202b36; /* Thumb color */
  border-radius: 5px; /* Roundness of thumb */
  }
/* ================================end scrollbar group=================================*/
/* ================================ item group=================================*/
.group-list-item{
  min-height: 7vh;
}
/* ================================end item group=================================*/

/* ================================scrollbar table=================================*/
.table-scrollbar {
  height:70vh; /* Set desired height */
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #004052 transparent; /* For Firefox */

  }
  
  .table-scrollbar::-webkit-scrollbar {
  width: 5px; /* Width of vertical scrollbar */
  }
  
  .table-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
  }
  
  .table-scrollbar::-webkit-scrollbar-thumb {
  background-color: #202b36; /* Thumb color */
  border-radius: 5px; /* Roundness of thumb */
  }
  .table-scrollbar thead th {
    position: sticky;
    z-index: 1;
    top: 0;
  }
  .table-scrollbar tr td {
      background-color: #093843;
  }

/* ================================end scrollbar table=================================*/
.profile-pic-container {
  border: 2px solid #ddd; /* Outer border */
  border-radius: 50%; /* Rounded border */
  padding: 5px; /* Padding for inner border effect */
  display: inline-block;
  width: 30vh; /* Adjust as needed */
  height:30vh; /* Adjust as needed */
}

.profile-pic {
  width: 100%; /* Full width to fit the container */
  height: 100%; /* Full height to fit the container */
  object-fit: cover; /* Ensure image covers the container */
  border-radius: 50%; /* Ensure the image is rounded */
}
